body {
    background-color: #205a9c;
    color: white;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background-color: #fff;
    display: grid;
    place-items: center;
    box-shadow: 0px -10px 10px 10px black;
    margin-bottom: 10px;
}

article.itemlist {
    display: grid;
    place-items: center;
}

article.itemlist table {
    width: 30%;
    border-collapse: collapse;
}

article.itemlist table tr:nth-child(even) {
    background-color: #1b4d86;
}

article.itemlist table td {
    padding: 3px;
}

article.itemlist hr {
    width: 30%;
    color: white;
}

/* Invoice style. */
article#invoice {
    display: grid;
    place-items: center;
    background-color: #13335a;
    padding: 5px;
}

article#invoice hr {
    width: 100%;
    color: white;
}

section#invoicetable table {
    border: 1px solid white;
    margin: 0 auto;
    border-collapse: collapse;
    background-color: #1b4d86;
    width: 100%;
}

section#invoicetable table th {
    border-bottom: 1px solid white;
    background-color: #163c6b;
    padding: 5px;
}

section#invoicetable table td {
    padding: 5px;
    text-align: center;
}

section#invoicetable table td.price {
    text-align: right;
}

section#invoicetable {
    width: 100%;
}

div.invoice {
    width: 30%;
    margin: 0 auto;
    margin-top: 25px;
    /* background-color: #13335a */
}

div.invoice h3 {
    text-align: center;
}